@font-face {
  src: url("../fonts/BMJUA_otf.otf");
    font-family: jua;
}

* {
  box-sizing: border-box;
  font-family: 'Hi Melody', sans-serif;
  color: #58595B;
  text-align: center;
  font-family: jua;
}
body {
  background-color: #F0E8D9;
}

.h1 {
  font-size: 64px;
  width: 300px;
  margin: 75px auto 30px;
}

.h2 {
  font-size: 32px;
  margin-bottom: 75px;
}

.food {
  background-color: white;
  width: 300px;
  margin: 0 auto;
  border: 2px solid #F0E8D9;
  border-radius: 20px;
  overflow: hidden;
}

.text {
  padding: 20px;
}

.food h3 {
  margin-bottom: 20px;
  font-size: 32px;
}

.food a {
  text-decoration: none;
}

.food p {
  line-height: 20px;
}

.sushi {
  background-color: white;
  width: 300px;
  margin: 50px auto;
  border-radius: 20px;
  overflow: hidden;
}

.codingbox {
  margin: 0 2px;
 padding: 20px;
}

.codingbox h3 {
  font-size: 32px;
}

.bibimbob {
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  width: 300px;
  margin: 0 auto;
}

.bibimbobimg {
  width: 300px;
  height: 200px;
  margin-bottom: 0px;
}

.bobo {
  padding: 20px;
}

.codingbox a {
  text-decoration-line: none;
  color: blue;
}

.hamberger {
  padding: 20px;
}

.blue {
  text-decoration-line: none;
  color: blue;
}

.burgerb {
  background-color: white;
  width: 300px;
  margin: 50px auto;
  border-radius: 20px;
  overflow: hidden;
}